---
- name: Fix low disk space on Kubernetes PVC
  hosts: localhost
  gather_facts: no
  vars:
    event_id: P-251223
    event_name: \"Kubernetes PVC: Low disk space %\"
    event_cluster: openshift-apaclab
    event_namespace: test
    pvc_name: test-pvc-01
    # Desired new size (increase by 10Gi)
    new_size: \"20Gi\"

  tasks:
    - name: Retrieve current PVC size
      k8s_facts:
        api_version: v1
        kind: PersistentVolumeClaim
        namespace: \"{{ event_namespace }}\"
        name: \"{{ pvc_name }}\"
      register: pvc_info

    - name: Calculate new PVC size
      set_fact:
        current_size: \"{{ pvc_info.resources[0].spec.resources.requests.storage }}\"
        # If current size is less than new_size, use new_size; otherwise keep current
        target_size: >-
          {% if current_size < new_size %}
            {{ new_size }}
          {% else %}
            {{ current_size }}
          {% endif %}

    - name: Patch PVC to increase size
      k8s:
        api_version: v1
        kind: PersistentVolumeClaim
        namespace: \"{{ event_namespace }}\"
        name: \"{{ pvc_name }}\"
        merge_type: strategic
        definition:
          spec:
            resources:
              requests:
                storage: \"{{ target_size }}\"
      when: target_size != current_size

    - name: Notify that PVC size has been updated
      debug:
        msg: \"PVC '{{ pvc_name }}' in namespace '{{ event_namespace }}' resized to {{ target_size }}.\"