---
- name: Ask Ansible Lightspeed for suggestion to fix the alert.
  hosts: localhost
  gather_facts: false

  vars:
    # Set via env or override with --extra-vars
    als_route: "{{ lookup('env','ALS_ROUTE') | default('', true) }}"
    als_token: "{{ lookup('env','ALS_TOKEN') | default('', true) }}"
    als_query: >-
      Can you create an ansible playbook to fix without Explanation, Variable
      event_id: {{ event_id | default('') }},
      event_name: {{ event_name | default('') }},
      event_cluster: {{ event_cluster | default('') }},
      event_namespace: {{ event_namespace | default('') }}
      event_description: {{ event_description | default('') }}
      Do not ask follow-up questions or offer additional guidance. Do not end with any questions.

  tasks:

    - name: Print selected variables if defined
      ansible.builtin.debug:
        msg: "Received '{{ item }}' data: {{ vars[item] }}"
      loop:
        - event_id
        - event_name
        - event_cluster
        - event_namespace
        - event_description
      when: vars[item] is defined

    - name: Show als query
      ansible.builtin.debug:
        msg: "{{ als_query }}"

    - name: Normalize als_query to a single-line string
      set_fact:
        als_query_one_line: "{{ als_query
            | regex_replace('\n', ' ')
            | regex_replace('\r', ' ')
            | regex_replace('\\s+', ' ')
            | trim }}"

    - name: Show als query one line
      ansible.builtin.debug:
        msg: "{{ als_query_one_line }}"

    - name: Ensure ROUTE and TOKEN are provided
      assert:
        that:
          - als_route | length > 0
          - als_token | length > 0
        fail_msg: >-
          Missing ROUTE or TOKEN. Set env vars ROUTE and TOKEN or pass
          --extra-vars 'als_route=https://<route> als_token=<token>'.

    - name: Query Ansible Lightspeed (streaming) and create an ansible playbook.
      shell: |
        set -o pipefail
        export ROUTE="{{ als_route }}"
        export TOKEN="{{ als_token }}"
        curl -k -sS -X POST   -H "Authorization: Bearer $TOKEN"   -H "Content-Type: application/json"   -d "{\"query\": \"{{ als_query_one_line }}\"}" "$ROUTE/api/v1/ai/chat/" | sed -n 's/.*"response":"\(.*\)","rag_chunks.*/\1/p' | sed 's/\\n/\n/g; s/^```yaml\n//; s/\n```$//'
      args:
        executable: /bin/bash
      register: als_response
      changed_when: true
#      no_log: true  # hides the token in logs

    - name: Fail if Lightspeed returned nothing
      assert:
        that:
          - als_response.stdout | length > 0
        fail_msg: "No YAML content received from Ansible Lightspeed."

    - name: Show the generated playbook content
      debug:
        msg: "{{ als_response.stdout }}"
