---
- name: Expand PVC to resolve low disk space
  hosts: localhost
  gather_facts: no
  tasks:
    - name: Increase storage of test-pvc-01
      core.k8s:
        state: present
        definition:
          apiVersion: v1
          kind: PersistentVolumeClaim
          metadata:
            name: test-pvc-01
            namespace: test
          spec:
            resources:
              requests:
                storage: 20Gi