---
- name: Fix low disk space on PVC
  hosts: localhost
  gather_facts: no
  tasks:
    - name: Increase PVC size to 20Gi
      core.k8s:
        state: present
        definition:
          apiVersion: v1
          kind: PersistentVolumeClaim
          metadata:
            name: test-pvc-01
            namespace: test
          spec:
            resources:
              requests:
                storage: 20Gi