---
- name: Fix and verify low disk space on PVC
  hosts: localhost
  gather_facts: no
  vars:
    pvc_name: test-pvc-01
    namespace: test
    new_size: 20Gi

  tasks:
    - name: Patch PVC to increase storage
      core.k8s:
        api_version: v1
        kind: PersistentVolumeClaim
        name: \"{{ pvc_name }}\"
        namespace: \"{{ namespace }}\"
        patch:
          spec:
            resources:
              requests:
                storage: \"{{ new_size }}\"

    - name: Retrieve PVC facts
      core.k8s_facts:
        api_version: v1
        kind: PersistentVolumeClaim
        name: \"{{ pvc_name }}\"
        namespace: \"{{ namespace }}\"
      register: pvc_facts

    - name: Verify PVC storage size
      debug:
        msg: \"PVC '{{ pvc_name }}' in namespace '{{ namespace }}' now has storage: {{ pvc_facts.resources[0].spec.resources.requests.storage }}\"